body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    background: #959033;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;
}

section {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: black;
}

.whatsapp {
    display: inline-block;
    padding: 10px 15px;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}
.whatsapp{
    display: inline-block;
    padding: 10px 15px;
    background: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}
.whatsapp{
    display: inline-block;
    padding: 10px 15px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
}
