body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #959033;
    color: black;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #959033;
}

.logo {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #959033;
    color: black;
    position: relative;
    bottom: 0;
    width: 100%;
}
.amigos {
    max-width: 350px;
    margin: 0 auto;
}
.texto{
    text-align: justify;
}
.card{
    max-width: 600px;
    margin: 0 auto;
    color: black;
    text-align: justify;
}